nav{
    /* background-color: rgba(247, 172, 59, 0.61); */
    border: 1px solid gray;
    background-image: url(../media/butterfly.jpg);
}
.menu-bar{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}
.img{
    width: 100px;
}
a{text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
}
.menu-items{
    /* border: 1px solid black; */
    padding: 20px;
    flex-grow: 1;
}
.logo{
    flex-grow: 2;
}
a:hover{
    color:orange;
    text-decoration:underline;
    font-size: 25px;
}
img{
    /* width: 300px; */
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-top: 20px;
}